{% for message in messages %}
{% if message['role'] == 'system' %}
{{ message['content']|trim -}}
{% if not loop.last %}

{% endif %}
{% endif %}
{% endfor %}
{% if add_generation_prompt and messages[-1]['role'] == 'user' %}
User Query: {{ messages[-1]['content']|trim -}}<human_end>
{% endif %}
