{% if messages[0]['role']=='system' %}
<|im_start|>system
{{ messages[0]['content']|trim -}}<|im_end|>
{% endif %}
{% for message in messages %}
{% if message['role'] == 'user' %}
<|im_start|>user
{{ message['content']|trim -}}<|im_end|>
{% endif %}
{% endfor %}
{% if add_generation_prompt and messages[-1]['role'] != 'assistant' %}
<|im_start|>assistant
{% endif %}
