{% if messages[0]['role']=='super_system' %}
{{ messages[0]['content']|trim -}}
{% endif %}


{% set ns = namespace(found=false, name='') %}
{% for message in messages %}
{% if message['role'] == 'system' %}
### System:
{{ message['content']|trim -}}
{% if not loop.last %}

{% endif %}
{% endif %}
{% endfor %}
{% for message in messages %}
{% if message['role'] == 'user' %}
{% if message['name'] %}
{{ message['name']|trim -}}: 
{% else %}
### User:
{% endif %}
{{ message['content']|trim -}}
{% if not loop.last %}

{% endif %}
{% elif message['role'] == 'assistant' %}
{% if message['name'] %}
{% if not ns.found %}
{% set ns.found = true %}
{% set ns.name = message['name'] %}
{% endif %}
{{ message['name']|trim -}}: 
{% else %}
### Assistant:
{% endif %}
{{ message['content']|trim -}}
{% if not loop.last %}

{% endif %}
{% endif %}
{% endfor %}

{% if add_generation_prompt and messages[-1]['role'] != 'assistant' %}
### Assistant:
The final results:
{% if ns.found == true %}
{{ ns.name }}:
{% endif %}
{% endif %}
