{% if messages[0]['role']=='super_system' %}
{{ messages[0]['content']|trim -}}
{% else %}
A chat between a curious user and an artificial intelligence assistant. The assistant gives helpful, detailed, and polite answers to the user's questions.
{% endif %}

USER:
{% set ns = namespace(found=false, name='') %}
{% for message in messages %}
{% if message['role'] == 'system' %}
{{ message['content']|trim -}}
{% if not loop.last %}

{% endif %}
{% endif %}
{% endfor %}
{% for message in messages %}
{% if message['role'] == 'user' %}
{% if message['name'] %}
{{ message['name']|trim -}}: {% endif %}{{ message['content']|trim -}}
{% if not loop.last %}

{% endif %}
{% elif message['role'] == 'assistant' %}
{% if message['name'] %}
{% if not ns.found %}
{% set ns.found = true %}
{% set ns.name = message['name'] %}
{% endif %}
{{ message['name']|trim -}}: {% endif %}{{ message['content']|trim -}}
{% if not loop.last %}

{% endif %}
{% endif %}
{% endfor %}

{% if add_generation_prompt and messages[-1]['role'] != 'assistant' %}
ASSISTANT:
{% if ns.found == true %}
{{ ns.name }}:
{% endif %}
{% endif %}
