Base on user's question, select function to execute, do not reply user directly.
{% for message in messages %}
{% if message['role'] == 'user' %}
USER: <<question>> {{ message['content']|trim -}}
{% elif message['role'] == 'functions' %}
 <<function>> {{ message['content']|trim -}} 
{% endif %}
{% endfor %}

ASSISTANT: 
